header {
  padding: 20px;
  background: url(../images/banner.jpg) no-repeat;
}
header .nav {
  background: rgba(0, 0, 0, 0.41);
  padding: 15px 0;
}
header .nav .glyphicon-menu-hamburger {
  display: none;
}
header .breadcrumb {
  margin-bottom: 0;
  background: none;
}
header .breadcrumb li:first-of-type a {
  color: #FAEE0D;
  border-top: 4px solid yellow;
}
header .breadcrumb li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
header .breadcrumb li a:hover {
  color: #FAEE0D;
  border-top: 4px solid yellow;
}
header .form-group {
  margin: 0;
  right: 20px;
}
header .form-group input {
  background: transparent;
}
header .form-group span {
  color: white;
}
header .bounceIn {
  border-top: 5px solid#fff;
  border-bottom: 5px solid#fff;
  width: 28%;
  margin: 15em auto 0;
}
header .bounceIn a {
  font-size: 5em;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  font-family: 'Lobster', cursive;
}
header .grids {
  position: relative;
  top: 200px;
}
header .grids .col-xs-3 {
  text-align: center;
}
header .grids .col-xs-3 .thumbnail {
  background: #16a667;
  border: none;
  border-radius: 0;
}
header .grids .col-xs-3 .thumbnail img {
  margin-top: 20px;
  background: none;
  padding: 10px;
  border-width: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
header .grids .col-xs-3 .thumbnail img:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
header .grids .col-xs-3 .thumbnail h3 {
  padding: .2em 0 0;
  color: #fff;
  font-weight: 400;
}
header .grids .col-xs-3 .thumbnail p {
  padding: .5em 0;
  color: #fff;
  line-height: 1.5em;
}
.about-section {
  padding: 15em 0 4em;
  background: #eee;
}
.about-section h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #000;
  margin: 0 17px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.about-section .about-grids {
  margin-top: 3em;
}
.about-section .about-grids p {
  font-size: 1em;
  padding: 1em 0;
  color: #555;
  line-height: 1.8em;
}
.service-section {
  padding: 4em 0;
  background: #37353b;
}
.service-section h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #fff;
  margin: 0 17px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.service-section .service-grids {
  margin-top: 3em;
  text-align: center;
}
.service-section .service-grids img {
  margin: 0 auto;
  background: #16A667;
  padding: .5em 1em;
  border-radius: 10px;
}
.service-section .service-grids img:hover {
  background: #f2af00;
}
.service-section .service-grids h4 {
  font-size: 1.5em;
  padding: .8em 0 0;
  color: #fff;
  font-weight: 600;
}
.service-section .service-grids p {
  font-size: 1em;
  padding: 1em 0;
  color: #999;
  line-height: 1.8em;
}
.work-section {
  padding: 4em 0;
  background: #eee;
}
.work-section h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.work-section .latest-grids {
  margin-top: 3em;
}
.work-section .work {
  position: relative;
  padding: 0;
}
.work-section .work .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.work-section .work:hover .textbox {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.work-section .work .textbox {
  -webkit-transition: all .8s;
  transition: all .8s;
  padding: 110px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 0;
  background-color: rgba(15, 16, 15, 0.16);
  box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.75);
}
.news-section {
  padding: 4em 0;
}
.news-section .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.news-section .container .news-grids {
  margin-top: 3em;
}
.news-section .container .news-grids h4 a {
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
  padding: .5em 0;
  display: block;
  font-weight: 600;
}
.news-section .container .news-grids p {
  font-size: 1em;
  margin-bottom: 1em;
  color: #999;
  line-height: 1.8em;
}
.news-section .container .news-grids p a {
  font-size: 1em;
  font-weight: 500;
  color: #000;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.news-section .container .news-grids p a:hover {
  color: rgba(32, 176, 89, 0.88);
}
.news-section h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #000;
  margin: 0 17px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.categories-section {
  padding: 4em 0;
  background: #3f454d;
}
.categories-section .up h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.categories-section .up .up1 {
  margin-top: 1.2em;
}
.categories-section .up .up1 .up-img {
  float: left;
  width: 21%;
  margin-right: 3%;
}
.categories-section .up .up1 .up-img img {
  width: 100%;
}
.categories-section .up .up1 .up-text {
  float: left;
  width: 76%;
}
.categories-section .up .up1 .up-text a {
  font-size: 1.3em;
  color: #fff;
  margin-bottom: .3em;
  text-decoration: none;
}
.categories-section .up .up1 .up-text p {
  font-size: 1em;
  line-height: 1.8em;
  color: #999;
}
.categories-section .cat h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0.7em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.categories-section .cat ul li {
  font-size: 1em;
  line-height: 1.8em;
  color: #999;
  list-style: none;
  padding: 6px 24px;
  background: url(../images/list-arrow.png) no-repeat 0px 15px;
  cursor: pointer;
  list-style-type: none;
}
.categories-section .cont h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
.categories-section .cont ul {
  margin-bottom: 2em;
}
.categories-section .cont ul li {
  display: inline-block;
}
.categories-section .cont ul li .phone {
  width: 40px;
  height: 40px;
  background: url(../images/img-sprite1.png) no-repeat -220px 0px;
  display: inline-block;
}
.categories-section .cont ul li p {
  font-size: 1em;
  color: #999;
}
.categories-section .cont ul li .smartphone {
  width: 40px;
  height: 40px;
  background: url(../images/img-sprite1.png) no-repeat -260px 0px;
  display: inline-block;
}
.categories-section .cont ul li .message {
  width: 40px;
  height: 40px;
  background: url(../images/img-sprite1.png) no-repeat -300px 6px;
  display: inline-block;
}
.categories-section .cont ul li a {
  width: 100%;
  display: block;
  font-size: 1em;
  text-decoration: none;
  color: #999;
}
.footer-section {
  padding: 4em 0;
  text-align: center;
  background: #eee;
}
.footer-section .social-icons i {
  width: 55px;
  height: 55px;
  background: url(../images/img-sprite1.png) no-repeat 0px 0px;
  display: inline-block;
  margin: 0 0 0 1em;
}
.footer-section .social-icons i:hover {
  opacity: 0.6;
}
.footer-section .social-icons i.icon2 {
  background-position-x: -55px;
}
.footer-section .social-icons i.icon3 {
  background-position-x: -110px;
}
.footer-section .social-icons i.icon4 {
  background-position-x: -165px;
}
.footer-section .bottom-menu ul li {
  display: inline-block;
  margin: 1.2em 1.5em;
}
.footer-section .bottom-menu ul li a {
  text-transform: capitalize;
  font-size: 1.1em;
  color: #000;
  text-decoration: none;
}
.footer-section .footer-bottom p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.footer-section .footer-bottom p a {
  margin: 0 6px 0 6px;
}
.footer-section a {
  font-size: 19px;
  color: #16A667;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Exo', sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-section a:hover {
  color: #000;
}
@media screen and (max-width: 767px) {
  header .nav {
    position: relative;
  }
  header .nav .glyphicon-menu-hamburger {
    display: block;
  }
  header .nav ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0;
    display: none;
    text-align: center;
  }
  header .nav ul li {
    display: block;
    background: #394C53;
  }
  header .nav ul li:first-of-type {
    border-top: 4px solid yellow;
  }
  header .nav ul li:first-of-type a {
    border-top: none;
  }
  header .thumbnail .caption h3 {
    font-size: 12px;
  }
  header .thumbnail .caption p {
    font-size: .4em;
  }
  header .bounceIn a {
    font-size: 3em;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  header .thumbnail .caption h3 {
    font-size: 14px;
  }
  header .thumbnail .caption p {
    font-size: .6em;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  header .thumbnail .caption h3 {
    font-size: 16px;
  }
  header .thumbnail .caption p {
    font-size: .965em;
  }
}
/*# sourceMappingURL=./style.css.map */